@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Open+Sans:300');

$mainHighlight : #90D3F3;
$subTitle : rgba(255,255,255,.5);
$lightMain: #4E265E;
$darkMain: #3E1E4B;
$transWhite: rgba(255,255,255,.2);
$transWhiteHover: rgba(255,255,255,.1);
$p1: 10px;
$boldFont: 'Alfa Slab One';

.hide {
	display: none!important;
}

body {
	background: black;
	color: white;
	font-family: 'Open Sans';
	font-weight: lighter;
	p {
		padding: 10px 0px;
	}
}
h3,h2 {
	margin-top: 0;
}
.container {
	max-width: 1000px;
	margin: auto;
}
.mainTitle {
	text-align: center;
	color: $mainHighlight;
	font-family: $boldFont;
	font-weight: normal;
    letter-spacing: .03em;
    font-size: 2.5em;
    margin: 0;
}
.subTitle {
	text-align: center;
	color: $subTitle;
	margin: 0;
}
.innerTitle {
	font-size: 18px;
	font-weight: strong;
	font-family: $boldFont;
}
.boldHeading {
	font-family: $boldFont;
	&.topic {

	}
	&.category {
		float: right;
	}
}
.sectionHeader {
	color: white;
	margin: 0;
	font-family: Alfa Slab One;
    font-weight: lighter;
    letter-spacing: .04em;
}

.topBox {
	background: $lightMain;
	padding: $p1;
}

.topBox, .lowerBox {
	.sectionHeader {
		color: rgba(255, 255, 255, 0.20);
	}
}

.buttonBox {
	background: $lightMain;
}

.lowerBox {
	background: $darkMain;
	padding: $p1;
}

button {
	border: none;
	background: $transWhite;
	font-size: 20px;
	font-weight: normal;
	color: white;
	padding: $p1;
	&.start {
		//color: $darkMain;
		font-weight: bold;
		width: 100%;
	    background: $transWhite;
	}
	&:hover {
		cursor: pointer;
		background: $transWhiteHover;
	}
}

.userButtons {
	padding: 0;
	background: $darkMain;
	button {
		background: #72527e;
		&:hover {
			//background: lighten($darkMain,10%);
			background: #795886;
		}
	}
}

.pad {
	padding: $p1;
}

.row {
	margin-bottom: 20px;
	&.full {
	    display: table;
    	width: 100%;
    	margin-bottom: 0;
    	button {
    		width: 100%;
    	}
    	&.multi {
    		button {
    			width: 50%;
    		}
    	}
	}
	&.two {
		button {
			//width: calc(50% - 3px);
			width: 50%;
		}
	}
	&.narrow {
		line-height: 1rem;
	}
}

#answerRow {
	margin-bottom: 0;
	textarea {
		background: none;
	    border: none;
	    width: 100%;
	    color: white;
	    font-size: 18px;
	    min-height: 3rem;
	}
	label {
		font-size: 1.5em;
		display: block;
	}
}

.dropdown {
	position: relative;
    display: inline-block;
    button {
    	width: 200px;
    }
}
.dropdownList {
	display: none;
	position: absolute;
	background: rgba(255, 255, 255, 0.9);
    min-width: 200px;
    box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.48);
	&.show {display:block;}
	a {
	    display: block;
	    padding: 10px 20px;
	    color: black;
	    text-decoration: none;
	    font-weight: normal;
	    &:hover {
	    	background: white;
    		color: #3f1f4b;
    		cursor: pointer;
	    }
	}
}

.close {
	background: url('../images/close.svg');
	background-size: contain;
    height: 20px;
    width: 20px;
    float: right;
    &:hover {
    	opacity: .5;
    	cursor: pointer;
    }
}

.errorBox {
	margin-top: 5px;
	text-align: center;
	color: #ad0606;
}

.messageBox {
	top: 20%;
    position: fixed;
    left: 50%;
    //transform: translate(-50%, -50%);
    .row.full {
    	position: absolute;
    	bottom: 0;
    }
    .row.pad {
    	font-size: 1.5rem;
	    text-align: center;
	    padding: 3rem 1rem;
    }
    .inner {
    	position: absolute;
	    left: calc(50% - 250px);
	    top: 20px;
	    width: 500px;
	    background: rgba(0, 0, 0, 0.85);
	    color: white;
	    z-index: 1;
    }
}
.messageBox:after {
	content: '';
	position: fixed;
	top: 0;
	width: 100%;
	background: rgba(150, 157, 167, 0.77);
	height: 100%;
	left: 0;
	bottom: 0;
	right: 0;
}

.correct {
	color: green;
}
.wrong {
	color: red;
}
.questionCount {
	margin-left: 2rem;
    color: rgba(255, 255, 255, 0.42);
}
.progress {
	display: inline-block;
	font-size: .8rem;
}
.random {
	float: right;
    font-size: .8rem;
    //background: url(../images/shuffle.svg) no-repeat 0 3px;
    padding-left: 1.1rem;
    &:hover {
    	color: hsla(0, 0%, 100%, 0.5);
    	cursor: pointer;
    }
    svg {
    	vertical-align: middle;
    }
}

.random:hover g#Page-1 {
	opacity: .5;
}

.random.active {
	color: hsla(0, 0%, 100%, 0.78);
	g#Page-1 {
		opacity: .8;
	}
}

.randomHolder {
	display: inline-block;
	float: right;
	line-height: 3rem;
	img {
		opacity: 0.6;
	}
	&.active {
		.randomStatus {
	    	color: hsla(0, 0%, 100%, 0.6);
		}
		img {
			opacity: 1;
		}
	}
	.randomStatus {
		color: hsla(0,0%,100%,.32);
		width: 5.5rem;
	    display: inline-block;
	    margin-left: .1rem;
	}
}

.randomHolder:hover {
	cursor: pointer;
	.randomStatus {
		color: hsla(0, 0%, 100%, 0.5);
	}
	img {
		opacity: 0.8;
	}
}

@media only screen and (max-width: 500px) {
	.messageBox .inner {
		left: calc(50% - 50vw);
	    top: 20px;
	    width: 100vw;
	}
}